body {
  background-image: linear-gradient(
    to bottom right,
    rgba(11, 11, 157, 0.746),
    rgba(146, 17, 17, 0.885)
  );
  height: 100vh;
  color: #333;
}
h1 {
  text-align: center;
  margin-top: 60px;
  color: white;
}
.form-container {
  max-width: 260px;
  margin: 40px auto;
  background-color: #bbb;
  padding: 8px 12px;
  border: 1px solid rgba(11, 11, 157, 0.746);
  border-radius: 8px;
  text-align: center;
}
.input-form {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
}
.submit-btn {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px;
  background-color: rgba(146, 17, 17, 0.885);
  color: white;
}
.submit-btn:hover {
  opacity: 0.6;
}
